* {
    margin:0;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
  }
  
  #rectangle{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
    background: #3A69D2;
    height:25vh;
    color: #FFFFFF;
  }

  #caption{
    color: #e0e0e0;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }

  #btn-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
  }

  #rectangleBottom{
    background: #1F2937;
    width: 100%;
    height: 100%;
  }
  
  #taskText{
    display:flex;
    justify-content:center;
  }

  #taskText p{
    margin-left: 3vw;
    color: #e0e0e0;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    
  }

  .btn{
    
    margin: 10px;
    padding: 9px 13px;
    background: #D1D4F4;
    border: 1px solid #D5D4D8;
    border-radius: 7px;
  }

  .btn:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  #invoiceHead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2vh 23vw;
    font-weight: 700;
    line-height: 20px;
    color: #D5D4D8;
    padding-top: 2vh;
  }

  #invoiceTextinside{

    display:grid;
    grid-template-columns: 1fr 1fr;
    font-weight: 700;
    line-height: 20px;
    color: #D5D4D8;
    margin-top: 5vh; 
  }


  #invoiceTail{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Inter';
    font-weight: 700;
    line-height: 20px;
    color: #D5D4D8;
    padding-top: 2vh;
  }

  #removeBtn{
    background: #1F2937;
    border: none;
    color: #D5D4D8;
  }

  #removeBtn:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  hr{
    margin-top: 5vh;
  }

  #note{
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    color: #F5F5F5;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin-top: 5vh;
  }

  #sendBtn{
    height: 3rem;
    width: 20rem;
    background: #3A69D2;
    border-radius: 7px;
    margin-top: 15vh;
  }

  #sendBtn:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }